.news-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
  }
  
  .news-container {
    max-width: 1200px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    margin: 100px auto;
  }
  .news-container .news-item {
    width: 300px;
    height: 500px;
    margin: 15px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.55);
    box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.55);
    border-radius: 5px;
  }
  .news-container .news-item .news-image {
    width: 100%;
    height: 200px;
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
  }
  .news-container .news-item .news-image ul {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #95b0ff;
    border-top-right-radius: 5px;
  }
  .news-container .news-item .news-image ul li {
    list-style: none;
    color: #FFF;
    padding: 5px 10px;
  }
  .news-container .news-item .news-infor-content {
    padding: 0 10px;
  }
  .news-container .news-item .time-to-read {
    padding: 0;
    margin: 10px 0 0;
    font-size: .7rem;
    max-width: 110px;
    color: #999;
    border-bottom: 1px solid;
  }
  .news-container .news-item .tittle, .container .news-item .paragraph {
    max-width: 300px;
    padding: 0;
    margin: 0;
    font-size: .9rem;
  }
  .news-container .news-item .tittle {
    color: #333333;
    border-width: 0px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    filter: blur(0px);
    font-size: 24px;
    text-transform: none;
    color: black;
    font-weight: 100;
    font-style: normal;
    z-index: 46;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    overflow: visible;
  }
  .news-container .news-item .paragraph {
    font-size: .9rem;
    color: #8b8b8b;
    font-weight: 900;
  }
  .news-container .news-item .bottom-content {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 55px;
    color: #999;
    opacity: .7;
    font-size: .7rem;
  }

/* div.article-container {
    margin: 3%;
    color: white;
}

div.article-section {
    padding-top: .1%;
    padding-bottom: .1%;
    background-color: #187044;
    color: #EEEEEE;
    overflow:scroll;
}

    
div.article-section a {
    color: #2acc7b;
    font-weight: bolder;
}

div.article-section h3 {
    padding-left: 1.5%;
} */
