@model IEnumerable<Breakfast.Areas.News.Models.NewsArticle>

<link rel="stylesheet" href="~/Content/NewsModule.css" />

<div class="article-section">
    <h3>News</h3>
    @foreach (Breakfast.Areas.News.Models.NewsArticle item in Model)
    {
        if (item != Model.FirstOrDefault())
        {
            <hr />
        }
        @Html.Partial("~/Areas/News/Views/Article.cshtml", item);
    }

</div>