@model Breakfast.ViewModels.News

<link rel="stylesheet" href="~/Content/Settings.css">

<div class="wrapper-settings">
    <div class="window">
        <div class="nav-bar">
            <div class="title">
                News Settings
            </div>
        </div>
        <div class="settings">
            @using (Html.BeginForm("SaveNewsSettings", "Home", FormMethod.Post))
            {
                <div class="item">
                    <div class="label">
                        Enabled
                    </div>
                    <label class="switch">
                        @Html.CheckBoxFor(m => m.Enabled, new { @checked = "checked" })
                    </label>
                </div>
                <!--<div class="item">
                    <div class="label">
                        Search Query
                    </div>
                    <label class="switch">
                        Html.CheckBoxFor(m => m.farenheit, new { checked = "checked" })
                    </label>
                </div>
                <div class="item">
                    <div class="label">
                        Domain
                    </div>
                    <label class="switch">
                        Html.CheckBoxFor(m => m.windSpeed, new { checked = "checked" })
                    </label>
                </div>
                <div class="item">
                    <div class="label">
                        Source
                    </div>
                    <label class="switch">
                        Html.EditorFor(m => m.Sources)
                        Html.CheckBoxFor(m => m.humidity, new { checked = "checked" })
                    </label>
                </div>
                <div class="item">
                    <div class="label">
                        Language
                    </div>
                    <label class="switch">
                        Html.CheckBoxFor(m => m.cloudiness, new { checked = "checked" })
                    </label>
                </div>-->
                <div class="item subscribe">

                    <input class="title" type="submit" value="Save" style="background-color: Transparent;">

                </div>
            }
        </div>
    </div>
</div>