@model Breakfast.ViewModels.RootObject

<link rel="stylesheet" href="~/Content/SettingsPage.css">

<div id='tabs'>
    <ul>
        <li><a href='#tabs-1'><span class='fas fa-cloud'></span>Weather</a></li>
        <li><a href='#tabs-2'><span class='fas fa-car'></span>Traffic</a></li>
        <li><a href='#tabs-3'><span class='fas fa-newspaper'></span>News</a></li>
    </ul>
    <section class='tabs-content'>
        <article id='tabs-1'>
           
            <div class='readmore'>
                <a href='#'>Save<span class='fa fa-chevron-right'></span></a>
            </div>
        </article>
        <article id='tabs-2'>
           
            <div class='readmore'>
                <a href='#'>Save<span class='fa fa-chevron-right'></span></a>
            </div>
        </article>
        <article id='tabs-3'>
           
            <div class='readmore'>
                <a href='#'>Save<span class='fa fa-chevron-right'></span></a>
            </div>
        </article>
    </section>
</div>
