@model Breakfast.Areas.Weather.Models.OpenWeatherMap

@*@using (Html.BeginForm())*@
<div id="apiDiv">
    <h4>Select the City for Weather Report</h4>
    @using (Html.BeginForm("Index", "OpenWeatherMap", FormMethod.Post))
    {
        <input type="text" name="zipcode" />
        <button name="submit">Submit</button>
    }
    <div id="message">@(new HtmlString(Model.apiResponse))</div>
</div>