@model Breakfast.Areas.Weather.Models.WeatherSettings

<link rel="stylesheet" href="~/Content/Settings.css">

<div class="wrapper">
    <div class="window">
        <div class="nav-bar">
            <div class="title">
                Weather Settings
            </div>
        </div>
        <div class="settings">
            @using (Html.BeginForm("Index", "OpenWeatherMap", FormMethod.Post))
            {
            <div class="item">
                <div class="label">
                    5-day forecast
                </div>
                <label class="switch">
                    <input checked="checked" type="checkbox" />
                    <div class="slider"></div>
                </label>
            </div>
            <div class="item">
                <div class="label">
                    Farenheit
                </div>
                <label class="switch">
                    <input type="checkbox" />
                    <div class="slider"></div>
                </label>
            </div>
            <div class="item">
                <div class="label">
                    Show wind speed
                </div>
                <label class="switch">
                    <input type="checkbox" />
                    <div class="slider"></div>
                </label>
            </div>
            <div class="item">
                <div class="label">
                    Show humidity
                </div>
                <label class="switch">
                    <input type="checkbox" />
                    <div class="slider"></div>
                </label>
            </div>
            <div class="item subscribe">
                <a class="title" href="#" target="_blank">Save</a>
            </div>
            }
        </div>
    </div>
</div>